
<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Proway</span> <span class="main-header__title--orange" >Computers</span>
    </h1>
    
    <div class="container">
    <nav class="main-header__menu">
        <ul>
            <li>
                <a >Produtos</a>
            </li>
            <li>
                <a>
                    <i class="fa-solid fa-cart-circle-plus"></i>
                    Carrinho
                    <span class="badge-carrinho">{{ carrinhoService.obtemCarrinho().length}}</span>
                </a>
            </li>
            <li> <a>Contato</a></li>
            <li> <a> </a> <i class="fa-brands fa-facebook"> </i> </li>
            <li> <a> <i class="fa-brands fa-instagram"> </i> </a> </li>
            <li> <a> <i class="fa-brands fa-twitter"> </i> </a> </li>
            <li> <a> <i class="fa-brands fa-linkedin-in"></i> </a> </li>
        </ul>
    </nav>

    <form >
        <input type="text"   class="search-form" style="box-sizing: border-box;
        height: 40px;
        padding: 10px;
        background-color: rgb(218, 216, 216); width: 400px; "  name="descricao">
         
       <button type="submit" style=" background-color: rgb(218, 216, 216);height: 40px; width: 40px; margin-left: 10px;" ><i class="fa-solid fa-magnifying-glass"></i> </button>
      
        
     </form>
    
    
     
   
</div>

</header>
