

<footer class="footer">
  <div class="footer__container"></div>
    <section>
        <h2 class="footer__title">Sobre</h2>
        <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eveniet. Autem repellendus odio animi voluptates labore veniam excepturi consequuntur nesciunt accusamus voluptatum id tempore, placeat mollitia qui quisquam in pariatur.</p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        
        <ul>
            <li><i class="fa-solid fa-envelope"> email@email.com</i></li>
            <li><i class="fa-solid fa-phone"></i>(00)0000-0000</li>
            <li ><i class="fa-brands fa-whatsapp">(00)00000-0000</i></li>
        </ul>

    </address>

    <section class="footer__copyright">
     &copy; todos os direitos reservados
    </section>



</footer>







